body {
    margin: 0;
    padding: 0;
    font-family: Verdana, sans-serif;
    font-size: 1em;
}

#navigation {
    margin: 0;
    background-color: #92d109;
    color: white;
    background-image: url(navbar.png);
    background-repeat: repeat-x;
    font-size: 1em;
    letter-spacing: -0.2pt;
}

#navigation ul {
    margin: 0;
    padding: 0;
    padding-left: 1em;
    min-height: 32px;
    line-height: 32px;
}

#navigation li {
    display: inline;
    list-style-type: none;
    padding-right: 0.5em;
    margin: 0;
}

#content ul {
    margin-left: 1.5em;
}

h1 {font-size: 1.2em; letter-spacing: 1px; font-weight: bold;}
h2 {font-size: 1.1em; font-weight: bold; margin-top: 3em;}
h3 {font-size: 1em; }
h4 {font-variant: small-caps; }

a {
    text-decoration: none;
    color: #4e9a06;
}
a:hover,
a.selected {
    color: #ec2c07;
}

#navigation a {
    color: #ffffff;
    padding: 5px;
}

#navigation a:hover,
#navigation a.selected {
    color: #fff;
    background-color: #df5538;
    border: 1px solid #ec2c07;
    padding: 4px;
}

h1.pageheader {
    margin: 0;
    color: #2f2d29;
    background-image: url(titlebar.png);
    background-repeat: repeat-x;
    padding: 0.25em;
    position: relative;
    top: -1px;
    text-align: center;
    border-top: 1px solid #babdb6;
    border-bottom: 2px outset #babdb6;
}

hr {
    border: 0px none;
    margin-top: 1.5em;
    border-bottom: 1.5em;
    border-bottom: 1px solid #babdb6;
    width: 400px;
}

img.map {
	float:left;
	clear:both;
	margin-top:2em;
	margin-bottom:2em;
}

#content {
    padding: 1em;
    font-size: 85%;
}

#footer {
    clear: both;
    text-align: left;
    font-size: 80%;
    color: #babdb6;
    padding: 1em;
    /*width: 100%;*/
}

table {
    border-collapse: collapse;
    border: 1px solid #babdb6;
}

th {
    font-weight: bold;
    font-size: 11px;
    letter-spacing: -1px;
	color: #2f2d29;
	border: 1px solid #babdb6;
	letter-spacing: 2px;
	text-align: center;
	padding: 6px 6px 6px 12px;
    background: #ffffff url(table.png) repeat-x;
}

th.nobg {
	background: none;
}

td {
    border-right: 1px dashed #babdb6;
	border-bottom: 1px solid #babdb6;
	background: #fff;
	padding: 6px 6px 6px 12px;
	color: #797268;

}

td.odd {
	/*background: #eeeeee;*/
	color: #797268;
}

th.headerSortUp {
    background-image: url(asc.gif);
    background-repeat: no-repeat;
}

th.headerSortDown {
    background-image: url(desc.gif);
    background-repeat: no-repeat;
}

th.header {
    cursor: pointer;
    background-position: right center;
    background-color: #ffffff;
    padding-right: 18px;
}

td, tr {
    font-size: 95% !important;
}

.hidden {
    display: none;
}

p.singline {
	margin-top: 0px;
	margin-bottom: 2px;	
}

.error {
	color: red;
	font-weight: bold;
}


#contacts {
  float: left;
}
	
/* Pane that contains all user info. Only used on desktop browsers with JS. */
#userinfo {
	float: right;
    /*padding: 1em;*/

}

#user-photo-link {
    float: right;
    padding: 0.2em;
}

/* Hint text to say you can click to edit fields. */
#user-edit-hint {
    color: #babdb6;
}

/* Phone numbers table for side pane. */
#user-numbers {
    width: 100%;
}

#user-contacts {
	width: 100%;
}

/* Button to add numbers to list. */
#user-numbers-add {
    float: right;
}

/* Button to click to remove a phone number from the list. */
.user-number-remove {
    float: right;
}

img {
    border: 0px none;
}

img.thumb {
	width: 120px;
	height: 120px;
}
	
	
.star:hover,
.star:focus {
    background-position: 0 -32px !important;
    text-decoration: none;
}

div.buttons {
	clear:left;
}

div.star.starred {
    background-position: 0 -16px;
}

div.star {
    float: left;
    display: block;
    list-style:none;
    margin: 0 6px 0 0;
    padding:0px;
    width: 16px;
    height: 16px;
    background: url(star-widget.png) 0 0 no-repeat;
    text-indent: -1000em;
}
