<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app 
   	xmlns="http://java.sun.com/xml/ns/javaee" 
   	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" 
   	version="3.0"> 

  	<display-name>IJetty Console</display-name>
  	
	<servlet>
		<servlet-name>ContactsServlet</servlet-name>
		<servlet-class>org.mortbay.ijetty.console.ContactsServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>CallLogServlet</servlet-name>
		<servlet-class>org.mortbay.ijetty.console.CallLogServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CssServlet</servlet-name>
		<servlet-class>org.mortbay.ijetty.console.CssServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>InfoServlet</servlet-name>
		<servlet-class>org.mortbay.ijetty.console.InfoServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>IPServlet</servlet-name>
		<servlet-class>org.mortbay.ijetty.console.IPServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SettingsServlet</servlet-name>
		<servlet-class>org.mortbay.ijetty.console.SettingsServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>ContactsServlet</servlet-name>
		<url-pattern>/contacts/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CallLogServlet</servlet-name>
		<url-pattern>/calls/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SettingsServlet</servlet-name>
		<url-pattern>/settings/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>IPServlet</servlet-name>
		<url-pattern>/network/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CssServlet</servlet-name>
		<url-pattern>/css</url-pattern>
	</servlet-mapping>
</web-app>
